
<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Intialize Todays Production</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="createForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Order ID" formControlName="oid" #oid>
        <!--<mat-error *ngIf="createForm.controls['title'].errors.required">
          Title is <strong>required</strong>
        </mat-error>-->
      </mat-form-field><br><br>
      <mat-form-field class="field-full-width">
      <input matInput placeholder="Order Quntity" formControlName="qntity" #qntity>
      </mat-form-field>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp;
      <button type="submit" (click)="addOrder(oid.value,qntity.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Save</button>
    </form>
  </mat-card>
</div>
