<div>
  <img src="assets/img/single_user.png" id="icon" alt="User Icon" />
</div>
<form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)">
  <input type="text" name="empId" #empOd="ngModel" [(ngModel)]="model.empId" placeholder="Employee Id" required>
  <input type="password" name="password" #password="ngModel" [(ngModel)]="model.password" placeholder="Password" required >
  <input type="submit" value="Sign In">
</form>
<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
  {{serverErrorMessages}}
</div>