<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/icreate">Add A New Item</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="item">
      <ng-container matColumnDef="iId">
        <th mat-header-cell *matHeaderCellDef>Item ID</th>
        <td mat-cell *matCellDef="let element"> {{element.iId}} </td>
      </ng-container>
      <ng-container matColumnDef="iName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element"> {{element.iName}} </td>
      </ng-container>

      <ng-container matColumnDef="sLHours">
        <th mat-header-cell *matHeaderCellDef>Standard Labour Hours</th>
        <td mat-cell *matCellDef="let element"> {{element.sLHours}} </td>
      </ng-container>

      <ng-container matColumnDef="sMHours">
        <th mat-header-cell *matHeaderCellDef>Standard Machine Hours </th>
        <td mat-cell *matCellDef="let element"> {{element.sMHours}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button mat-button color="primary" (click)="editI(element._id)">Edit</button>
          <button mat-button color="warn" (click)="deleteI(element._id)">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</div>